---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="byline">

  	<p>
    <span class="date">{{ page.date | date: "%B %e, %Y" }}</span> -
		<span class="categories">
			{% assign categories = page.categories | sort %}
			{% for category in categories %}
			<a href="/category/{{ category }}">{{ category }}</a>&nbsp;
			{% endfor %}
		</span>
	</p>
  </div>


{% if page.tags != '' %}
  <div class="tags">
  	<p>
    <span class="tags">
    	{% assign tags = page.tags | sort %}
    		tags:
			{% for tag in tags %}
			  <a href="/tag/{{ tag }}">{{ tag }}</a>&nbsp;
			{% endfor %}
	</span>
	</p>
  </div>
{% endif %}

  <div class="entry">
    {{ content }}
  </div>

</article>
