---
layout: default
---

<article class="post" itemscope itemtype="https://schema.org/BlogPosting">
  <h1 itemprop="headline">{{ page.title }}</h1>

  <div class="byline">

  	<p>
    <span class="date">{{ page.date | date: "%B %e, %Y" }}</span> -
		<span class="categories">
			{% assign categories = page.categories | sort %}
			{% for category in categories %}
			<a href="{{ '/categories/' | relative_url }}#{{ category | slugify }}">{{ category }}</a>&nbsp;
			{% endfor %}
		</span>
	</p>
  </div>


{% if page.tags.size > 0 %}
  <div class="tags">
  	<p>
    <span class="tags">
    	{% assign tags = page.tags | sort %}
    		tags:
			{% for tag in tags %}
			  <a href="{{ '/tags/' | relative_url }}#{{ tag | slugify }}">{{ tag }}</a>&nbsp;
			{% endfor %}
	</span>
	</p>
  </div>
{% endif %}

  <div class="entry" itemprop="articleBody">
    {{ content }}
  </div>

</article>
