---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="byline">

  	<p>
    <span class="date">{{ page.date | date: "%B %e, %Y" }}</span> -
		 <span class="categories">
			{% assign categories = page.categories | sort %}
			{% for category in categories %}
			<a href="/category/{{ category }}">{{ category }}&nbsp;</a>
			{% endfor %}
		</span>

	<br/>
    <span class="tags">
    	{% assign tags = page.tags | sort %}
		{% for tag in tags %}
		tags: <a href="/tag/{{ tag }}">{{ tag }}&nbsp;</a>
		{% endfor %}
	</span>
	</p>
  </div>

  <div class="tags">

  </div>

  <div class="entry">
    {{ content }}
  </div>

</article>
